[submodule "native-core"]
	path = native-core
	url = https://github.com/vvega/native-core.git
	branch = audio_playback_speed
[submodule "barista"]
	path = barista
	url = https://github.com/vvega/barista.git
	branch = audio_playback_speed

